@import "src/styles/palette";

.container {
    width: 286px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .title {
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    .desc {
        font-size: 14px;
        text-align: center;
    }
}
