@import "src/styles/palette";

.container {
    display: flex;
    align-items: center;
    gap: 20px;

    cursor: pointer;

    .box {
        max-width: 40px;
        max-height: 40px;
        min-width: 40px;
        min-height: 40px;
        border: 2px solid $black;
        display: flex;
        justify-content: center;
        align-items: center;

        .mark {
            transform: scale(0);
            opacity: 0;
            transition: .1s;
        }

        &.checked {
            .mark {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    .label {
        color: rgba(0, 0, 0, .5);
    }
}